<html>

<body>
    <h1 style="text-align: center;">Update Details</h1>
    <form action="" method="POST">
        <input type="text" name="name" value=" <%= student[0].Name %> " placeholder="Enter Name"><br><br>
        <input type="email" name="Email" value=" <%= student[0].email %> " placeholder="Enter Email"><br><br>
        <input type="number" name="mobile" value=" <%= student[0].mobile %> " placeholder="Enter Mobile number"><br><br>
        <input type="hidden" name="Id" value=" <%= student[0].Id %> ">
        <input type="submit" value="submit">
    </form>
</body>

</html>